.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.2rem;
}

button {
  padding: 0.49rem;
  margin: 1rem;
  background-color: blue;
  color: white;
  border-radius: 0.2rem;
}
